.my-element {
  font-family: 'GoodTimes', sans-serif;
  font-size:30px;
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
 
  }

    
.hero {
  width: 100%;
  height: auto; /*100vh;*/
}

video {
  width:100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);

}